provider:
  CoralNet: coralnet
  ReefCloud: reefcloud
required_annotations_columns_start:
- Name
- Date
required_annotations_columns_aux: 5
required_annotations_columns_end:
- Row
- Column
- Label code
- Label ID
required_annotations_columns_dev:
- Name
- Date
- Aux1
- Aux2
- Aux3
- Aux4
- Aux5
- Row
- Column
- Label code
- Label ID
auxiliary_columns_dev:
- Aux1
- Aux2
- Aux3
- Aux4
- Aux5
reefcloud_template_path: reefcloud_template.csv
provider_columns_map:
  coralnet:
    site:
      label: Site
      column: Site *
      value: ~
    management:
      label: Management
      column: Management *
      value: ~
    transect_number:
      label: Transect number
      column: Transect number *
      value: ~
  reefcloud:
    site:
      label: Site
      column: Site *
      value: site_name
    management:
      label: Management
      column: Management *
      value: site_management
    transect_number:
      label: Transect number
      column: Transect number *
      value: survey_transect_number
    date:
      label: Date
      column: Date
      value: survey_start_date (UTC)
    depth:
      label: Depth
      column: Depth *
      value: survey_depth
labelset_id_column:
  provider_col:
    coralnet: Label ID
    reefcloud:
      derived_point_benthic_id:
      - point_human_benthic_id
      - point_machine_benthic_id
  mermaid_join: provider_id
  table_label: ~
labelset_code_column:
  provider_col:
    coralnet: Label code
    reefcloud:
      derived_point_classification:
      - point_human_classification
      - point_machine_classification
  mermaid_join: provider_code
  table_label:
    coralnet: CoralNet label code
    reefcloud: ReefCloud label code
mermaid_attributes_columns:
  mermaid_attribute:
    table_label: MERMAID Benthic attribute
    label: Benthic attribute
    column: Benthic attribute *
    api_column: benthic_attribute
  mermaid_growth_form:
    table_label: MERMAID Growth form
    label: Growth form
    column: Growth form
    api_column: growth_form
reshape:
  rename:
    reefcloud:
      Date: survey_start_date (UTC)
      Site *: site_name
      Management *: site_management
      Transect number *: survey_transect_number
      Depth *: survey_depth
  image_name:
    coralnet: Name
    reefcloud: image_name
upload_data_img_path:
  coralnet: www/coralnet-image-annotations-export.png
  reefcloud: www/reefcloud-classifications-file-export.png
logo_img_path: www/logo.png
