provider:
  CoralNet: coralnet
  ReefCloud: reefcloud
required_annotations_columns_start:
- Name
- Date
required_annotations_columns_aux: 5
required_annotations_columns_end:
- Row
- Column
- Label code
- Label ID
required_annotations_columns_dev:
- Name
- Date
- Aux1
- Aux2
- Aux3
- Aux4
- Aux5
- Row
- Column
- Label code
- Label ID
auxiliary_columns_dev:
- Aux1
- Aux2
- Aux3
- Aux4
- Aux5
auxiliary_columns_map:
  site:
    label: Site
    column: Site *
    value: ~
  management:
    label: Management
    column: Management *
    value: ~
  transect_number:
    label: Transect number
    column: Transect number *
    value: ~
additional_columns_map:
  date:
    label: Date
    column: Date
    value: Date
coralnet_labelset_id_column:
  coralnet_col: Label ID
  mermaid_join: provider_id
  table_label: ~
coralnet_labelset_code_column:
  coralnet_col: Label code
  mermaid_join: ~
  table_label: CoralNet label code
mermaid_attributes_columns:
  mermaid_attribute:
    table_label: MERMAID Benthic attribute
    label: Benthic attribute
    column: Benthic attribute *
    api_column: benthic_attribute
  mermaid_growth_form:
    table_label: MERMAID Growth form
    label: Growth form
    column: Growth form
    api_column: growth_form
upload_data_img_path:
  coralnet: www/coralnet-image-annotations-export.png
  reefcloud: ~
logo_img_path: www/logo.png
