/* Styles */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
  --11pt: 0.8461538rem;
  --12pt: 0.9230769rem;
  --13pt: 1rem;
  --14pt: 1.076923rem;
  --25pt: 1.923077rem;
  --34pt: 2.615385rem;
  --color-grey-00: #fff;
  --color-grey-10: #f8f8f8;
  --color-grey-20: #dfdfdf;
  --color-grey-30: #c5c5c5;
  --color-grey-40: #acacac;
  --color-grey-50: #929292;
  --color-grey-60: #797979;
  --color-grey-70: #5f5f5f;
  --color-grey-80: #464646;
  --color-grey-90: #2c2c2c;
  --color-grey-100: #131313;
  --color-black: #282828;
  --color-base: rgb(19, 18, 74);
  --color-grey: rgb(221, 220, 227);
  --color-depths: #1c124a;
  --color-polyps: #beb6eb;
  --color-fins: #f3f1fc;
  --color-currents-light: #acbaee;
  --color-currents-dark: #3d6eb5;
  --color-coral: #cf675b;
  --color-coral-dark: #c5483a;
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;
}

html {
  font-family: "Open Sans", "sans-serif";
  font-size: 17px !important;
  color: var(--color-base);
}

/* Sizing */

.header {
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: -2rem;
}

.logo {
  height: 3rem;
}

h1 {
  margin-bottom: 0;
  font-size: var(--25pt);
}

h2 {
  font-size: var(--14pt);
  font-weight: var(--weight-bold);
  margin: 1rem 0;
}

h3 {
  font-size: var(--14pt);
  font-weight: var(--weight-medium);
}

h4 {
  font-size: var(--14pt);
  font-weight: var(--weight-medium);
}

hr {
  color: var(--color-grey-50);
  margin: 2rem 0;
}

.bttn-simple {
  font-size: var(--14pt) !important;
  font-weight: var(--weight-medium) !important;
}

/* Positioning */
.left-right {
  display: flex;
  justify-content: space-between;
}

.left-right h2 {
  margin-top: 0;
}

/* Add top border to all accordion items */
.accordion-item {
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
  margin-top: 1rem;
}

/* Add bottom border to all acordion headers when open */
.accordion-button[aria-expanded="true"] {
  border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
}

/* Editable table */

.ht_master.handsontable > .wtHolder {
  max-height: 250px !important;
  width: auto !important;
}

#handsontable-parent {
  height: calc(250px + 1rem); /* Causes double scroll bar, but does not work without it <3 */
  overflow-y: auto;
}

.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
  background-color: auto;
}

.handsontable .htAutocompleteArrow {
  color: var(--color-grey-60) !important;
}

.handsontable td .htAutocompleteArrow:hover {
  color: var(--color-grey-80) !important;
}

#confirm-disabled {
  color: var(--color-coral-dark);
  font-weight: var(--weight-bold);
}

#preview_and_confirm-table {
  font-size: var(--12pt);
}

/* Spacing */

.indent {
  margin-left: 1rem;
}

.space {
  margin: 1rem 0;
}

.large {
  font-size: var(--14pt);
}

.constrained-col {
  max-width: 20rem;
}

.validating-aux {
  margin-bottom: 1rem;
}

.popover-header {
  margin-top: 0;
  font-size: var(--25pt);
}

.popover-inner-header {
  margin: 0.5rem 0;
  font-size: var(--25pt);
}

.popover-body {
  max-height: 400px;
  overflow-y: auto;
  font-size: var(--14x) !important;
}

/* Colours */

/* Inputs */

.bttn-simple {
  padding: 0.5rem 1rem;
}

.bttn-simple.bttn-primary {
  background-color: var(--color-currents-dark);
}

.bttn-simple.bttn-danger {
  background-color: var(--color-coral-dark);
}

.bttn-simple.bttn-default {
  color: var(--color-base);
  background-color: var(--color-grey);
}

.bttn-simple.bttn-success {
  background-color: var(--color-currents-dark);
}

.bttn-simple.disabled, .bttn-simple:hover {
  opacity: 0.5 !important;
}

.reset-confirm-cancel .bttn-simple {
  width: 49%;
}

/* Modal */

/* All modal elements have both top and bottom padding, so remove the bottom padding so it's not so much execessive spacing */
.modal-header, .modal-body {
  padding-bottom: 0;
}

.modal-body {
  max-height: 50vh !important;
  overflow-y: auto !important;
}

/* Ingestion error */
.error {
  margin-top: 1rem;
  border: 2px solid var(--color-grey-50);
  padding: 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: var(--color-grey-20);
}

/* File upload */
/* Hide message of successful file upload -- only show upload errors (.progress-bar-danger) */

.shiny-file-input-progress.progress-bar:not(.progress-bar-danger) {
  display: none;
}

/* Small devices */
@media (max-width: 768px) {
  /* Smaller sizing */
  html {
    font-size: 14px !important;
  }

.ht_master.handsontable > .wtHolder {
  max-height: 75vh !important;
  width: auto !important;
}
}
