/* Styles */

:root {
  --16px: 1rem;
  --18px: 1.125rem;
  --20px: 1.25rem;
  --22px: 1.375rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --32px: 2rem;
  --color-grey-00: #fff;
  --color-grey-10: #f8f8f8;
  --color-grey-20: #dfdfdf;
  --color-grey-30: #c5c5c5;
  --color-grey-40: #acacac;
  --color-grey-50: #929292;
  --color-grey-60: #797979;
  --color-grey-70: #5f5f5f;
  --color-grey-80: #464646;
  --color-grey-90: #2c2c2c;
  --color-grey-100: #131313;
  --color-black: #282828;
  --color-darkblue: rgb(23, 75, 130);
  --color-red: rgb(187, 22, 0);
  --color-base: rgb(19, 18, 74);
  --color-green: rgb(3, 128, 4);
  --color-yellow: rgb(255, 165, 0);
  --color-grey: rgb(221, 220, 227);
}

html {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 16px !important;
  color: var(--color-base);
}

/* Sizing */

h1 {
  padding-top: 1.5rem;
  margin-bottom: 0;
  font-size: var(--28px);
}

h2 {
  font-size: var(--22px);
  font-weight: 400;
  margin: 1rem 0;
}

h3 {
  font-size: var(--20px);
}

h4 {
  font-size: var(--20px);
  font-weight: bold;
}

h5 {
  font-size: var(--18px);
}

hr {
  color: var(--color-grey-50);
  margin: 2rem 0;
}

/* Sticky header/footer */

.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-header-placeholder {
  height: calc(var(--32px) + 1.5rem*2 + 2rem*2);
}

/* Positioning */
.left-right {
  display: flex;
  justify-content: space-between;
}

.left-right h2 {
  margin-top: 0;
}

/* Add top border to all accordion items */
.accordion-item {
  border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color) !important;
  margin-top: 1rem;
}

/* Editable table */

.ht_master.handsontable > .wtHolder {
  max-height: 500px !important;
  width: auto !important;
}

.handsontable-parent {
  height: 500px; /* Causes double scroll bar, but does not work without it <3 */
  overflow-y: scroll;
}

.handsontable tbody th.ht__active_highlight, .handsontable thead th.ht__active_highlight {
  background-color: auto;
}

.handsontable .htAutocompleteArrow {
  color: var(--color-grey-60) !important;
}

.handsontable td .htAutocompleteArrow:hover {
  color: var(--color-grey-80) !important;
}

.handsontable td.htInvalid {
  background-color: pink !important;
}

/* Spacing */

.indent {
  margin-left: 1rem;
}

.space {
  margin: 1rem 0;
}

.large {
  font-size: var(--18px);
}

.constrained-col {
  max-width: 20rem;
}

.validating-aux {
  margin-bottom: 1rem;
}


.popover-header {
  margin-top: 0;
  font-size: var(--24px);
}

.popover-inner-header {
  margin: 0.5rem 0;
  font-size: var(--24px);
}

.popover-body {
  max-height: 400px;
  overflow-y: auto;
  font-size: var(--20x) !important;
}

/* Colours */

/* Inputs */

.bttn-simple {
  padding: 0.5rem 1rem;
}

.bttn-simple.bttn-primary {
  background-color: var(--color-darkblue);
}

.bttn-simple.bttn-danger {
  background-color: var(--color-red);
}

.bttn-simple.bttn-default {
  color: var(--color-base);
  background-color: var(--color-grey);
}

.bttn-simple.bttn-success {
  background-color: var(--color-green);
}

.bttn-simple.disabled, .bttn-simple:hover {
  opacity: 0.5 !important;
}

/* Modal */

.modal-body {
  max-height: 75vh !important;
  overflow-y: auto !important;
}

/* Ingestion error */
.error {
  margin-top: 1rem;
  border: 2px solid var(--color-grey-50);
  padding: 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
  background-color: var(--color-grey-20);
}

/* Small devices */
@media (max-width: 768px) {
  /* Smaller sizing */
  html {
    font-size: 14px !important;
  }

  h1 {
    font-size: var(--28px);
  }

  h2 {
    font-size: var(--24px);
  }

.ht_master.handsontable > .wtHolder {
  max-height: 75vh !important;
  width: auto !important;
}
}
